 /* Comment */

 /* This 
 is also
 a comment */

body {
<<<<<<< HEAD
background-color: white;
=======
background-color: gray; 
>>>>>>> 113221514fdd02d9ba32932062fddb7140f5d4be
font-size: 10px;
}

h1 {
color: black;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}
